@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
  height: 100svh;
  height: -webkit-fill-available;
}
body{
  
  height: -webkit-fill-available;
  font-family: "Cutive Mono", monospace;
  background-color: var(--bg-c);
}

/* font-family */
/* font-family: "Cutive Mono", monospace; */

:root{
    /* font Size */
    --f-h:2rem;

    /* color */
    --bg-c:hsl(120, 1%, 30%);
    --b-c:hsl(120, 2%, 50%);
    --tc-:hsl(0, 0%, 77%);
    --bg-c-c:hsl(120, 1%, 10%);
}

/* tool button */
.buttons {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    background-color: var(--b-c);
    color: var(--tc-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
  }
  
  .buttons:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .buttons:active {
    color: #000;
  }
  
  .buttons:active:after {
    background: transparent;
  }
  
  .buttons:hover:before {
    opacity: 1;
  }
  
  .buttons:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--b-c);
    left: 0;
    top: 0;
    border-radius: 5px;
  }