/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* font-family: "Roboto Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
/* font-family: "Afacad Flux", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: "Bebas Neue", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Jost", sans-serif; */

body{
    background-color: hsl(207, 20%, 9%);
    color: white;
    font-family: "Afacad Flux", sans-serif;
}
@media(max-width:700px) {
    .logo_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        align-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: hsl(0, 0%, 20%); 
        z-index: 1000;
        padding: 1em;
        height: 25px; 
      }
      
    /* hamburger */
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 30px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        text-align: left;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      /* end here */
    
      .ham_nav_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: flex-start;
        align-content: center;
      }
      .ham_nav_container h3{
        font-family: "Afacad Flux", sans-serif;
        margin-left: 2em;
        text-transform: uppercase;
        font-weight: 700;
      }
      .search_settings{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 1em;
      }
      .search_settings button{
        background: none;
        border: none;
      }
      .search_settings img{
        width: 1.5em;
        height: 1.5em;
        filter: invert();
      }
      .song_bar {
        display: flex;
        justify-content: space-between;
        border: 1px solid hsla(0, 0%, 20%, 0.397);
        background-color: hsla(0, 0%, 20%, 0.2);
        border-radius: 0.2em;
        width: 85%;
        margin: auto;
        align-items: center;
        align-content: center;
        padding: 0.5em 1em;
        transition: 0.5s ease-in-out;
      }
      
      .song_bar img:first-child {
        margin-right: 1em;
      }
      
      .titlesubtitle_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
      }

      .titlesubtitle_container h4{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 500;
        font-size: 1.5em;
      }
      .titlesubtitle_container p{
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 0.9em;
        color: rgba(112, 112, 112, 0.986);
      }
      
      .song_bar img:last-child {
        margin-left: auto; 
      }
      
    
      .song_bar #songNameIMG{
        width: 5em;
        height: 5em;
        filter: invert(0);
      }
    
      .song_bar:hover{
        background-color: hsla(0, 0%, 20%, 0.397);
      }
      
      .song_container img{
        width: 2em;
        height: 2em;
        filter: invert();
      }
      .song_container{
        margin-bottom: 0.5em;
      }

      .song_content {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        margin-top: 5em;
        padding-bottom: 5.5em;
      }
      
      .music_player_container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsl(0, 0%, 20%);
        z-index: 1000;
        display: flex;
        justify-content: center;
        height: 5.5em;
      }
      .music_player_content{
        width: 100%;
      }
      .music_player{
        margin-top: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5em 1em;
        width: 98%;
      }

      .music_player_title_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        margin-left: 1em;
      }
      .music_player img:last-child {
        margin-left: auto;
        width: 30px;
        filter: invert(1); 
      }
      .music_player h4{
        font-size: 1.2em;
      }
      .music_player p{
        font-size: 0.7em;
      }
      .music_player #playnextsong{
        text-align: center;
        border: none;
        padding: 1.3em 1em;
        background-color: hsl(283, 100%, 20%);
        color: white;
        border-radius: 0.5em;
      }
      .music_player #music_coverUrl{
        width: 4em;
        height: 4em;
        filter: invert(0);
      }
      .controller_container{
        display: flex;
        gap: 0.5em;
      }
      .controller_container button{
        background: none;
        border: none;
      }
      #playbtn{
        border-radius: 50%;
        background-color: hsl(283, 100%, 55%);
        padding: 6px;
        filter: invert(0);
      }
      .controller_container button:nth-child(2) .playerbtns{
        transform: rotate(180deg);
      }
      .runningTime{
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
      }
      .progress_container{
        flex-direction: column;
        width: 100%;
      }
      .shuffle_repeat_container{
        margin-top: 1em;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
      }
      .shuffle_repeat_container button{
        padding: 0.5em;
        border: none;
        background-color: hsl(283, 100%, 20%);
        color: white;
        text-transform: uppercase;
        font-family: "Afacad Flux", sans-serif;
        font-weight: 700;
        border-radius: 0.3em;
      }
      .mini_close_container{
        position: relative;
        top: 0.3em;
        right: 0.5em;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        height: 20px;
        /* background-color: hsl(283, 100%, 55%); */
      }
      .mini_close_container button{
        background: none;
        border: none;
        background-color: hsl(283, 100%, 30%);
        color: white;
        padding: 5px;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 0.2em;
        font-weight: 900;
        text-transform: uppercase;
      }
      /* #copyright{
        position: fixed;
        bottom: 5em;
        font-family: "Roboto Mono", monospace;
        font-weight: 700;
        font-size: 0.7em;
      } */

       /* animation bar */
      /* .wavebar_animation_container ul{
        text-align: center;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
      }
      .wavebar_animation_container ul li{
        list-style: none;
        height: 80px;
        width: 5px;
        transform-origin: bottom;
        border-radius: 10px;
        line-height: 0.70em;
        display: inline-block;
        margin: 0 7px;
        background: linear-gradient(315deg, #000 3px,#fff 0%,#461785c5);
        box-shadow: 0 0 20px #0a0961, 0 0 50px #fff, 0 0 150px #fff;
        -webkit-box-reflect: below 1px linear-gradient(transparent),rgba(104,3,3,0.267);
        animation: beat 1.5s linear infinite;
      }
      @keyframes beat {
        0%{
          transform: scale(0);
        }
        50%{
          transform: scale(1);
        }
        100%{
          transform: scale(0.2);
        }
      }
      .wavebar_animation_container ul li:nth-child(1){
        animation-delay: 0.2s;
        height: 5px;
      }
      .wavebar_animation_container ul li:nth-child(2){
        animation-delay: 0.3s;
        height: 10px;
      }
      .wavebar_animation_container ul li:nth-child(3){
        animation-delay: 0.4s;
        height: 15px;
      }
      .wavebar_animation_container ul li:nth-child(4){
        animation-delay: 0.6s;
        height: 40px;
      }
      .wavebar_animation_container ul li:nth-child(5){
        animation-delay: 0.5s;
        height: 16px;
      }
      .wavebar_animation_container ul li:nth-child(6){
        animation-delay: 0.2s;
        height: 36px;
      }
      .wavebar_animation_container ul li:nth-child(7){
        animation-delay: 0.6s;
        height: 18px;
      }
      .wavebar_animation_container ul li:nth-child(8){
        animation-delay: 0.3s;
        height: 14px;
      }
      .wavebar_animation_container ul li:nth-child(9){
        animation-delay: 0.6s;
        height: 13px;
      }
      .wavebar_animation_container ul li:nth-child(10){
        animation-delay: 0.4s;
        height: 30px;
      }
      .wavebar_animation_container ul li:nth-child(11){
        animation-delay: 0.5s;
        height: 22px;
      }
      .wavebar_animation_container ul li:nth-child(12){
        animation-delay: 0.3s;
        height: 15px;
      }
      .wavebar_animation_container ul li:nth-child(13){
        animation-delay: 0.6s;
        height: 24px;
      }
      .wavebar_animation_container ul li:nth-child(14){
        animation-delay: 0.2s;
        height: 36px;
      }
      .wavebar_animation_container ul li:nth-child(15){
        animation-delay: 0.6s;
        height: 19px;
      } */
      /* END HERE */

      .beat-visualizer-container{
        display: none;
      }

      .beat-visualizer-container{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30px;
        margin-top: 10px;
      }

      /* suggestioBox */
      .suggestionBox{
        position:absolute;
        top: 50px;
        right: 55px;
        max-height: 200px;
        overflow: auto;
        background-color: hsla(0, 0%, 17%, 0.938);
        color: #ffffff;
        display: none;
        text-align: left;
        padding: 0.5em;
      }
      .suggestionContainer{
        font-family:"Roboto Mono", monospace ;
        font-weight: 600;
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid white;
        font-size: 0.8em;
      }
      /* END HERE */

      /* SEARCH */
      .search_settings input{
        padding: 0.3em;
        width: 50%;
        font-family: "Afacad Flux", sans-serif;
        font-size: 1em;
        font-weight: 600;
      }
      /* 3dots */
      .about_Web_App{
        position: absolute;
        right: 10px;
        top: 40px;
        background-color: hsl(283, 100%, 20%);
        color: white;
        padding: 0.5em;
        border-radius: 0.5em;
        z-index: 999999;
      }

 /* CSS file (e.g., styles.css) */

@keyframes slideUp {
  from {
      transform: translate(-50%, 100%);
  }
  to {
      transform: translate(-50%, -50%);
  }
}

@keyframes slideDown {
  from {
      transform: translate(-50%, -50%);
  }
  to {
      transform: translate(-50%, 100%);
  }
}

.upcomingSongs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: hsl(0, 6%, 41%);
  border-radius: 10px;
  max-height: 80vh;
  overflow: auto;
  z-index: 99999;
  width: 90%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.slide-up {
  animation: slideUp 0.5s ease-out forwards;
  opacity: 1;
}

.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

.upcomingSongs li {
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  font-size: 1.1em;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 600;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.upcomingSongs button {
  background: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.3em;
  background-color: hsl(283, 100%, 30%);
  border-radius: 0.5em;
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

.playlist_close_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: hsl(0, 0%, 15%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.song-count-info {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  margin: 0;
}
    
      .playlist_close_container {
        position: sticky;
        top: 0;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        background-color: hsl(0, 1%, 25%);
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        padding: 1em;
        z-index: 100000;
    }

      .music_player_container_enlarge{
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: hsl(0, 0%, 20%);
          z-index: 1000;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;    
      }
      .music_player_enlarge{
        margin-top: -2em;
        flex-direction: column;
        gap: 2em;
        height: initial;
        width: initial;
      }
      .controller_container_enlarge{
        gap: 2em;
      }
      .music_coverUrl_enlarge{
        width: 20em !important;
        height: 15em !important;
        border-radius: 1em !important;
      }
      .music_player_title_container_enlarge{
        width: 100%;
        margin-left: initial;
        text-align: center;
      }
      .music_player_title_container_enlarge h4{
        font-size: 2.7em;
      }
      .music_player_title_container_enlarge p{
        font-size: 1.1em;
      }
      .mini_close_container_enlarge{
        position: absolute;
      }
      .mini_close_container_enlarge button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        text-align: center;
      }

      /* section 2 */
      .category_container{
        margin-top: 5em;
      }
      .category_content{
        display: flex;
        align-items: center;
        height: 150px;
        margin-bottom: 10px;
        cursor: pointer;
        flex-direction: row;
        width: 90%;
        margin: auto;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        background-color: hsl(0, 0%, 20%);
      }
      .category_content img{
        width: 40px;
        height: 40px;
      }
      .category_song_list{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 70%;
        overflow-y: auto;
        padding: 10px;
        overflow-x: hidden;
      }
      /*  */
    .category_left {
        display: flex;
        align-items: center;
        width: 60%;
        height: 100%;
        padding: 10px;
    }
    #category_songNameIMG {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 0.5em;
    }
    .category_details_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .category_details_container h4{
      text-transform: uppercase;
      font-size: 1.5em;
    }
    .category_details_container h4,
    .category_details_container p {
        margin: 0;
        text-align: left;
    }
    .song_item {
      background-color: #2e2d2d;
      padding: 1em 0.5em;
      border-radius: 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: auto;
      margin-bottom: 10px;
      height: 4em;
    }
    .song_item img{
      width: 30px;
      height: 30px;
      filter: invert();
    }
    .song_info h5{
      font-size: 1.1em;
    }
    .song_info p{
      font-size: 0.9em;
      color: #888787af;
    }
    .full_song_list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .full_song_list_content {
        background-color: hsl(0, 0%, 20%);
        border-radius: 5px;
        width: 85%;
        overflow-y: auto;
        height: 70%;
    }
    .full_song_list_content h5{
      font-size: 1.5em;
    }
    .full_song_list_content h2{
      font-size: 2em;
      text-transform: uppercase;
    }
    .full_song_list_content p{
      font-size: 1em;
    }
    .category_header #imgurl_category{
      width: 90%;
      height: 200px;
      margin: auto;
      border-radius: 1em;
      display: flex;
      padding: 0.5em;
      object-fit: cover;
    }
    .category_header{
      width: 100%;
      background-color: hsl(0, 0%, 20%);
      margin-bottom: 1em;
      position: sticky;
      top: 0;
      z-index: 10000;
      border: none;
      padding-bottom: 0.5em;
    }
}
